<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy YelpCamp 2021</span>
        <br>
        <span class="text-muted">本網站為單純的作品練習，資料及圖片來源皆出自網路，不使用於任何商業或營利行為</span>
        <br>
        <a href="https://github.com/LunZaiZai0223" class="text-muted"><i class="fab fa-github"></i></a>
        <span class="text-muted"><i class="fas fa-envelope"></i> liu.wei.lun0223@gmail.com</span>
    </div>
    </div>
</footer>