<% layout('/layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/stylesheets/flashLoginAndRegister.css">
    <% if(typeof alert !='undefined' ) { %>
        <% alert.forEach(error=> { %>
            <div id="alart-for-name-and-pwd" class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error.msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>
                <% } %>
                    <main class="container">
                        <% if(typeof alert =='undefined' ) { %>
                        <div class="row need-mt">
                            <% } %> 
                            <div class="col-md-6 offset-md-3 my-5">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                                            class="card-img-top shadow" alt="...">
                                        <h3 class="mt-3 card-title text-center">註冊</h3>
                                        <form class="mb-3" action="/campgrounds/user" method="POST"
                                            enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label for="username" class="form-label">用戶名稱(*)</label>
                                                <input type="text" class="form-control" id="username"
                                                    name="user[username]" required autofocus>
                                                <div class="form-text">
                                                    用戶名稱至少需5位元
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">密碼(*)</label>
                                                <input type="password" class="form-control" id="password"
                                                    name="user[password]" required>
                                                <div class="form-text">
                                                    密碼至少需8位元
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">電子郵件(*)</label>
                                                <input type="email" class="form-control" id="email" name="user[email]"
                                                    required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="formFileMultiple" class="form-label">使用者大頭貼</label>
                                                <input class="form-control" type="file" id="formFileMultiple"
                                                    name="image">
                                                <div class="form-text">
                                                    圖片大小限制5MB，僅支援jpeg/jpg/png
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                            <button class="btn btn-success">創建</button>
                                            <a class="btn btn-secondary card-link ms-2" href="/campgrounds">返回</a>
                                        </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </main>